This is the answers for the questions listed in DMBA Chapter 2

2.1 - Assuming that data mining techniques are to be used in the following cases, identify whether the task required is supervised or unsupervised learning.

a. Supervised
b. Supervised
c. Supervised
d. Unsupervised
e. Supervised
f. Supervised
g. Unsupervised
h. Supervised

2.2 - Describe the difference in roles assumed by the validation partition and the test partition.

Validation partition hold the role of testing the initial accuracy and predictive capabilities of a model. Unlike, the validation partition, the test partition is new data that is used to further check the persomance of the predictive capabilities. Sometimes we create a model that has biases towards the validation partition so the test partition is check for these biases.

2.3 - Consider the sample from a database of credit applicants in Table 2.16. Comment on the likelihood that it was sampled randomly, and whether it is likely to be a useful sample.

The data sample was most likely not sampled randomly from the database as the OBS is incrementing in steps of 8 showing that this is every 8 OBS. This data will most likely not be a useful dataset because of lack of information as a whole.

2.4 - Consider the sample from a bank database shown in Table 2.17; it was selected randomly from a larger database to be the training set. Personal Loan indicates whether a solicitation for a personal loan was accepted and is the response variable. A campaign is planned for a similar solicitation in the future and the bank is looking for a model that will identify likely responders. Examine the data carefully and indicate what your next step would be.

The next step for this specific model would be to create a partition to be used for training and another to be used for testing.

2.5 - Using the concept of overfitting, explain why when a model is fit to training data, zero error with those data is not necessarily good.

A model that is fit to a training data with zero errors is not taking into consideration the actual predictive abilities of a model. Figure 2.2 in the book illustrated that if we fit a model to training data with a curve line having zero error that we will see that is is no way of correlating a correct move from the curve, instead a straight line would be more effective to find a better prediction.

2.6 - In fitting a model to classify prospects as purchasers or nonpurchasers, a certain company drew the training data from internal data that include demographic and purchase information. Future data to be classified will be lists purchased from other sources, with demographic (but not purchase) data included. It was found that “refund issued” was a useful predictor in the training data. Why is this not an appropriate variable to include in the model?

The variable of refund issues is not an appropriate variable to include in the model because future data will not include purchase data. Without having purchase data, refund data is irrelevent.

2.7 - A dataset has 1000 records and 50 variables with 5% of the values missing, spread randomly throughout the records and variables. An analyst decides to remove records with missing values. About how many records would you expect to be removed?

If 5% of the values are missing in the dataset then we can assume that 5% of 1000 or 50 records would be removed, but this could be lower as a single record could me missing multiple variables.

In [97]:
#this was incorrect, correct answer is below
correct = 1-(1-0.05)**50
print(correct)
#this meaning that ~923 records will contain a missing variable

0.9230550247232868

2.8 - Normalize the data in Table 2.18, showing calculations.

In [108]:
#this is the better way of doing this
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

#create a dataframe
df = pd.DataFrame({
    'Age': [25, 56, 65, 32, 41, 49],
    'Income': [49000, 156000, 99000, 192000, 39000, 57000]
})
print(df)

#normalizing data
scaler = StandardScaler()
df_norm = pd.DataFrame(scaler.fit_transform(df), index=df.index, columns=df.columns)
print(df_norm)

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000
        Age    Income
0 -1.438597 -0.865431
1  0.829022  0.999021
2  1.487363  0.005808
3 -0.926554  1.626314
4 -0.268213 -1.039679
5  0.316979 -0.726033

In [93]:
#finding mean for calulations of income
a = 49000
b = 156000
c = 99000
d = 192000
e = 39000
f = 57000
meanIncome = (a + b + c + d + e + f) / 6
print(mean)

98666.66666666667

In [64]:
#finding varience for calulation of income 
tmp1 = (a - meanIncome)**2

tmp2 = (b - meanIncome)**2

tmp3 = (c - meanIncome)**2

tmp4 = (d - meanIncome)**2

tmp5 = (e - meanIncome)**2

tmp6 = (f - meanIncome)**2


varienceIncome = (tmp1 + tmp2 + tmp3 + tmp4 + tmp5 + tmp6) / (1/6) 
print(varienceIncome)

118568000000.0

In [65]:
#finding standard deviation for calulating income
import math 
std = math.sqrt(varienceIncome)
print(std)

344337.0441878132

In [66]:
#normalizing income:
income1 = (a - meanIncome) / std
print(income1)
income2 = (b - meanIncome) / std
print(income2)
income3 = (c - meanIncome) / std
print(income3)
income4 = (d - meanIncome) / std
print(income4)
income5 = (e - meanIncome) / std
print(income5)
income6 = (f - meanIncome) / std
print(income6)

-0.1442385229966044
0.16650352990212047
0.0009680437785006864
0.2710522579801961
-0.1732798363516254
-0.12100547231258757

In [67]:
#finding mean for age 
a2 = 25
b2 = 56
c2 = 65
d2 = 32
e2 = 41
f2 = 49
meanAge = (a2 + b2 + c2 + d2 + e2 + f2) / 6
print(meanAge)

44.666666666666664

In [68]:
#finding varience for calulating age
tmpAge1 = (a2 - meanAge)**2

tmpAge2 = (b2 - meanAge)**2

tmpAge3 = (c2 - meanAge)**2

tmpAge4 = (d2 - meanAge)**2

tmpAge5 = (e2 - meanAge)**2

tmpAge6 = (f2 - meanAge)**2


varienceAge = (tmpAge1 + tmpAge2 + tmpAge3 + tmpAge4 + tmpAge5 + tmpAge6) / (1/6) 
print(varienceAge)

6728.0

In [69]:
#finding standard deviation for calulating age
stdAge = math.sqrt(varienceAge)
print(stdAge)

82.02438661763951

In [70]:
#normalizing age
Age1 = (a2 - meanAge) / stdAge
print(Age1)
Age2 = (b2 - meanAge) / stdAge
print(Age2)
Age3 = (c2 - meanAge) / stdAge
print(Age3)
Age4 = (d2 - meanAge) / stdAge
print(Age4)
Age5 = (e2 - meanAge) / stdAge
print(Age5)
Age6 = (f2 - meanAge) / stdAge
print(Age6)

-0.2397660924713006
0.13817029057668173
0.24789375662287016
-0.1544256188798207
-0.04470215283363229
0.05282981698520186

2.9 - Can normalizing the data change which two records are farthest from each other in terms of Euclidean distance?

Yes, normalizing can change which two records are farthest from each other in regards to Euclidean distance. This is because there is such a large variation in the income data that when normalizing the data those large variations are reduced. This is an answer I have found by researching how the Euclidean distance is effected by normalizing data, I'm not completely sure if this is correct though.

In [123]:
#difference b/w orginal and normalized distance
#orginal chart
from sklearn.metrics import pairwise
d = pairwise.pairwise_distances(df, metric='euclidean')
pd.DataFrame(d, index=df.index, columns=df.index)

,0,1,2,3,4,5
0,0.000000,107000.004491,50000.016000,143000.000171,10000.012800,8000.036000
1,107000.004491,0.000000,57000.000711,36000.008000,117000.000962,99000.000247
2,50000.016000,57000.000711,0.000000,93000.005855,60000.004800,42000.003048
3,143000.000171,36000.008000,93000.005855,0.000000,153000.000265,135000.001070
4,10000.012800,117000.000962,60000.004800,153000.000265,0.000000,18000.001778
5,8000.036000,99000.000247,42000.003048,135000.001070,18000.001778,0.000000

In [124]:
#normalized chart
d_norm = pairwise.pairwise_distances(df_norm, metric='euclidean')
pd.DataFrame(d_norm, index=df_norm.index, columns=df_norm.index)

          0         1         2         3         4         5
0  0.000000  2.935690  3.052916  2.543812  1.183284  1.761101
1  2.935690  0.000000  1.191589  1.864280  2.315215  1.799444
2  3.052916  1.191589  0.000000  2.907409  2.043303  1.380358
3  2.543812  1.864280  2.907409  0.000000  2.746075  2.660809
4  1.183284  2.315215  2.043303  2.746075  0.000000  0.663945
5  1.761101  1.799444  1.380358  2.660809  0.663945  0.000000

2.10 - Two models are applied to a dataset that has been partitioned. Model A is considerably more accurate than model B on the training data, but slightly less accurate than model B on the validation data. Which model are you more likely to consider for final deployment?

When looking at these two models we would choose the validation model.

2.11 - The dataset ToyotaCorolla.csv contains data on used cars on sale during the late summer of 2004 in the Netherlands. It has 1436 records containing details on 38 attributes, including Price, Age, Kilometers, HP, and other specifications. We plan to analyze the data using various data mining techniques described in future chapters. Prepare the data for use as follows:

In [126]:
#This is the answer to question 2.11a
#Firstly we need to import the data and then we need to create a dummy variable tht will hold information that within the Fuel_Type and Color. We can do this by using get_dummies.
from pathlib import Path
import pandas as pd
DATA = Path("C:/Users/chris/Documents/DS 110-DM/data")
df_toyota = pd.read_csv(DATA / "ToyotaCorolla.csv")
print(type(df_toyota))

<class 'pandas.core.frame.DataFrame'>

In [130]:
df_toyota = pd.get_dummies(df_toyota.iloc[:, 3:39], prefix_sep='_', drop_first=True)
print(df_toyota.loc[:, 'Fuel_Type_Diesel':'Color_Yellow'].head(5))

   Fuel_Type_Diesel  Fuel_Type_Petrol  Color_Black  Color_Blue  Color_Green  \
0                 0                 0            0           0            0
1                 1                 0            0           1            0
2                 0                 0            0           0            0
3                 1                 0            0           0            0
4                 0                 0            0           0            0

   Color_Grey  Color_Red  Color_Silver  Color_Violet  Color_White  \
0           0          0             0             0            0
1           0          0             0             0            0
2           0          0             0             0            0
3           0          0             1             0            0
4           0          0             0             0            0

   Color_Yellow
0             0
1             0
2             0
3             0
4             0

2.11b - Prepare the dataset (as factored into dummies) for data mining techniques of supervised learning by creating partitions in Python. Select all the variables and use default values for the random seed and partitioning percentages for training (50%), validation (30%), and test (20%) sets. Describe the roles that these partitions will play in modeling.

The first partition is training which is used to train a model that has been built. This partition is generally the largest to give the model the most amount of data to train. A good analogy for this would be thinking of this as a lecture
The second partition is validation which is used to assess the predictive capabilties of the model that was trained. This data is complete new compared to the training so in a sense this is kind of like giving a quiz to it after its learned. When we uses validation data we know the actual so we are able to test the models to see how accruately they can predicted those actual values.
The third partition is testing which is used to test the real performance of the model because as we learned in the book, models can show great performance than others due to a bias in the validation data. This step would be the exam when connecting it back to the analogy.

In [94]:
df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'HP', 'Met_Color', 'Automatic', 'CC', 'Doors', 'Cylinders', 'Gears',
       'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Parking_Assistant', 'Tow_Bar', 'Fuel_Type_CNG', 'Fuel_Type_Diesel',
       'Fuel_Type_Petrol', 'Color_Beige', 'Color_Black', 'Color_Blue',
       'Color_Green', 'Color_Grey', 'Color_Red', 'Color_Silver',
       'Color_Violet', 'Color_White', 'Color_Yellow'],
      dtype='object')